.max-container{
    max-width:600px;
    margin:3rem auto 0;
}

.form-container{
    background-color:#ffffff;
    padding: 3rem;
    border: 1px solid grey;
    border-radius: 1.5rem;
    outline: none;
    margin: 3rem;
}